# dependencies
node_modules/

# expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# native - Android build outputs
android/.gradle/
android/.cxx/
android/app/build/
android/build/

# native - iOS build outputs
ios/build/
ios/Pods/
ios/Podfile.lock
ios/xcuserdata/
ios/*.xcworkspace
ios/*.xcuserdata

# native - sensitive/cert files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo